---
title: Home
---
<section class="posts">
    <div class="posts-tile-container">
    {%  for post in paginator.posts %}
      {% assign remainder = forloop.index | minus:'1' | modulo: 2 %}
      {% if remainder == 0 %}
         <div class="post-row">
      {% endif %}
           <div class="post-tile">
                <article class="post">
                    {% include post-heading.html post=post %}
                    <div class="image">
                        <a  href="{{ site.baseurl }}{{ post.url }}">
                           <img src="{{ post.featured_image }}" alt="{{ post.title }}">
                        </a>
                    </div>

                    {{ post.excerpt | truncatewords: 7 }}
                </article>
            </div>
            {% if remainder == 1 %}
            </div>
            {% endif %}
            {% endfor %}
    </div>
    {% if paginator.total_pages > 1 %}
        <div class="pagination">
            {% if paginator.previous_page %}
                <a href="{{ site.baseurl }}{{ paginator.previous_page_path }}" class="previous btn">&larr; Newer posts</a>
            {% endif %}

            <span class="page_number ">{{ paginator.page }} of {{ paginator.total_pages }}</span>

            {% if paginator.next_page %}
                <a href="{{ site.baseurl }}{{ paginator.next_page_path }}" class="next btn">Older posts &rarr;</a>
            {% endif %}
        </div>
    {% endif %}
</section>
